<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><% yield_content :title do %>HDA - Hotwire<% end %></title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />

    <script
      crossorigin="anonymous"
      type="module"
      src="https://unpkg.com/@hotwired/turbo@8.0.4/dist/turbo.es2017-esm.js"
    ></script>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
      </nav>
    </header>
    <main><%= yield %></main>
  </body>
</html>
